body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  background-color: white;
  color: #333;
  line-height: 1.6;
  padding: 40px 20px;
}

.container {
  max-width: 720px;
  margin: auto;
}

h1 {
  font-family: 'Tiny5', sans-serif;
  font-size: 4em;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 0.5rem;
}

h2 {
  font-family: 'Tiny5', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  margin-top: 2rem;
  margin-bottom: 1rem;
  color: #333;
}


.nav {
  margin-bottom: 1.0rem;
  display: flex;
  flex-wrap: wrap;       /* allows wrapping on small screens */
  gap: 2.4rem;           /* spacing between items */
}

.nav a {
  font-family: 'Tiny5', sans-serif;
  font-size: 1.5em;
  font-weight: normal;
  text-decoration: none;
  color: #494949;
}

.nav a:hover {
  text-decoration: underline;
}

p {
  margin-top: 0;
}

a {
  color: #0077cc;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

.links {
  margin-top: 1em;
}

.links a {
  margin-right: 15px;
  font-weight: 600;
}
